* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #402910;

}
.logo{
    width: 200px;
    height: 200px;
    padding-bottom: 40px;
}
form {
    width: 400px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #654321;
    color: white;
}
.casillas {
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
    margin: 10px;
}
/* para eliminar flechas del input typt number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
 /* input[type=number] { -moz-appearance:textfield; } */
.boton {
    border: none;
    background-color: #C0A090;
    border-radius: 20px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    color: black;
}
section {
    display: flex;
    flex-direction: row;
}
p {
    margin: 5px;
}
.inicio {
    margin: 5px;
    color: gold;
    text-decoration: none;
}
.principal{
    text-align: center;
    text-decoration: none;
    color: red;
}